MONGO_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/korkmaz?retryWrites=true&w=majority
EMAIL_USER=youremail@example.com
EMAIL_PASS=your-email-password
FRONTEND_URL=https://your-netlify-site.netlify.app
PORT=5000
